name: Build and Publish image to Docker Hub
on:
  push:
    branches:
      - develop

jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: build image
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          docker build \
            --secret id=DATABASE_URL,env=DATABASE_URL \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/tandas-backend:latest \
            .

      - name: push image to docker hub
        run: |
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/tandas-backend:latest
